<!DOCTYPE html>
<html>
    <head>
        <title>De Habbekrats Putten</title>
      
        <link rel="stylesheet" href="/stylesheets/main.css">
       
        <link rel="stylesheet" href="/stylesheets/adminPage.css">
        <link rel="stylesheet" href= "/stylesheets/forms.css">
        <link rel="stylesheet" href= "/stylesheets/cards.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    
    
        <script src="./scripts/image_upload_btn.js"></script>
        
    </head>


    <body>
        <div class="container">
            <div class="col-sm-10">
                <span id="Company-name">
                    <h1>De habbekrats putten</h1>    
                    <h3>
                        <span id="italic-subtitle"> Gewoon 
                        </span> thuiskomen
                    </h3>
                </span> 
            </div>  
            <div class="col-sm-2 logoutBtn">
                <a href="/logout"><i class="fas fa-sign-out-alt pull-right"></i>
                </a>
            </div>  
        </div>
        <hr>
     

