
<div id="sidebarWrapper" class="col-lg-1 col-md-1">
    <div class="panel-title">
        <h6>Admin panel</h6>
    </div>
    <a href="/"> <button type="button" class="btn  btn-circle"><i class="fas fa-eye"></i></button></a>
    <a href="/admin"> <button type="button" class="btn  btn-circle"><i class="fas fa-home"></i></button></a>
    <a href="/inventory"> <button type="button" class="btn  btn-circle"><i class="fas fa-couch"></i></button></a>
    <a href="/posts"><button type="button" class="btn  btn-circle"><i class="fas fa-file-alt"></i></button></a>
</div>



