


<div class="container">
        <nav class="navbar">
          <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              
          </div>
          
          <div class="collapse navbar-collapse js-navbar-collapse">
              <ul class="nav navbar-nav normal-nav">
                    <li class="nav-main-text"><a href="#">Home</a></li>
                  <li class="dropdown mega-dropdown">
                        <a href="#" class="dropdown-toggle nav-main-text" data-toggle="dropdown">Collectie <span class="caret"></span></a>		
                      <ul class="dropdown-menu mega-dropdown-menu">
                          <li class="col-sm-3 main-options">
                              <ul>
                                  <span class="hover-link">
                                  <li id="banken-Bankstellen"><button><a href="#">Banken & bankstellen</a></button></li>
                                  <li id="stoelen-fauteuils"><button><a href="#">Stoelen & fauteuils</a></button></li>
                                  <li id="tafels"><button><a href="#">Tafels</a></button></li>
                                  <li id="kasten"><button><a href="#">kasten</a></button></li>
                                
                                  <li class="divider"></li>
                                  <li id="complete-collectie"><button><a href="#">Complete collectie</a></button></li>
                                </span>
                              </ul>
                          </li>
                          <div class="subcat-container col-sm-9">
                          <li class="col-sm-6">
                              <ul id="sub-Cat ">
                                <span id="banken-Bankstellen-SubCats" class="subCats">
                                  <li class="dropdown-header">Banken & bankstellen</li>
                                  <li><a href="#">Banken</a></li>
                                  <li><a href="#">Bankstellen</a></li>		
                                  <li class="divider"></li>
                                  <li><a href="#">Alle banken</a></li>
                                </span>

                                <span id="stoelen-fauteuils-SubCats" class="subCats">
                                  <li class="dropdown-header">Stoelen & fauteuils</li>
                                  <li><a href="#">stoelen</a></li>
                                  <li><a href="#">Fauteuils</a></li>
                                </span>

                                <span id="tafels-SubCats" class="subCats">
                                  <li class="dropdown-header">Tafels</li>
                                  <li><a href="#">Salon tafels</a></li>
                                  <li><a href="#">Eetkamer tafels</a></li>
                                  <li><a href="#">Bijzettafels</a></li>
                                  <li><a href="#">Side Tables</a></li>
                                </span>

                                <span id="kasten-SubCats" class="subCats">
                                  <li class="dropdown-header">kasten</li>
                                  <li><a href="#">Boekenkasten</a></li>
                                  <li><a href="#">Tv-kasten</a></li>
                                  <li><a href="#">Dressoirs</a></li>
                                  <li><a href="#">Buffetkasten</a></li>
                                </span>
                              </ul>
                         
                              



                          </li>
                      
                          
                          <li class="col-sm-6">
                              
                                                            
                                  
                                    
                                     
                        <a href="#"><img id="menu-img" src="" class="img-responsive" alt=""></a>                             
                                      
                                      
                                 
                                
                              
                          </li>
                        </div>
                      </ul>				
                  </li>
                  <li class="nav-main-text"><a href="#">Inspiratie</a></li>
                  <li class="nav-main-text"><a href="#">Inruilen</a></li>
                  <li class="nav-main-text"><a href="/nieuw-binnen">Nieuw Binnen</a></li>
              </ul>
              <!-- <div class="col-sm-4 pull-right">
                    <div id="imaginary_container"> 
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control " id="searchText" placeholder="Search" >
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>  
                            </span>
                        </div>
                    </div>
                </div> -->
            </ul>
          </div><!-- /.nav-collapse -->
        </nav>
      </div>
