<% include ./partials/header %> 

<div class="sidebarWrapper">
    <ul>
        <div class="rounded admin-sidebar-icon">

        </div>
        <li><i class="fas fa-file-alt"></i></li>
        <li></li>
        <li></li>
    </ul>
</div>












<% include ./partials/footer %> 