<% include ./partials/header %> 
<link rel="stylesheet" href="./stylesheets/adminPage.css">

<div id="sidebarWrapper" class="col-lg-1 col-md-1">
    <div class="panel-title">
        <h6>Admin panel</h6>
    </div>
        <button type="button" class="btn  btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
        <button type="button" class="btn  btn-circle"><i class="glyphicon glyphicon-list"></i></button>
        <button type="button" class="btn  btn-circle"><i class="fas fa-file-alt"></i></button>
</div>












<% include ./partials/footer %> 