<% include ./partials/header %> 
<link rel="stylesheet" href="./stylesheets/adminPage.css">


<div class="container">
    <span  id="Company-name">
        <h1>De habbekrats putten</h1>
       
        <h3><span id="italic-subtitle"> Gewoon </span> thuiskomen</h3>
    </span>
    <hr>
</div>












<% include ./partials/admin-sideBar %> 
<% include ./partials/footer %> 