
.panel-login {
   
    margin-top: 100px; 

}
label{
	font-weight: 400 !important;
}
.panel-login>.panel-heading {
	color: #00415d;
	
	
}
.form-title{
    font-size: 30px;
}
.panel-heading .form-title{
	font-weight: 550;
	color:#030146;
}
.login-field{
    padding-top: 0px;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
    font-size: 30px;
    font-weight:300;
    color: #888!important;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #EE5959;
	outline: none;
	color: #fff;
	font-size: 30px;
	height: auto;
	font-weight: normal;
    border-color: #EE5959;
    width:150px;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #EE5959;
	border-color: #EE5959;
}

.input-shadow{
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.col-sm-6 .btn-Done {
	background-color: #EE5959;
	outline: none;
	color: #fff;
	font-size: 25px;
	height: 40px;
	font-weight: normal;
    border-color: #EE5959;
	width:150px;
	margin-top:20px; 
	padding-bottom: 40px!important;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #EE5959;
	border-color: #EE5959;

}

#post-title{
	margin-bottom: 20px;
}


/* Upload Btn */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.upload_Btn input[type=text]{
	height:34px;
	font-size: 14px;
}