
.heroSlider-fixed .btn-circle {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 0px 0px;
   
    line-height: 1.428571429;
    border-radius: 40px;

    background-color:white;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.21);
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.21);
}
 .absoluteRight {
  position: absolute; 
  top:60px;
  right: 0px; 
}
 .absoluteLeft {
  position: absolute; 
  top:60px;
  left: 0px; 
}


.heroSlider-fixed i {
    color: #EE5959;
    padding: 0;
    font-size: 30px;
}

.img-holder {
    width:100%;
    height:300px;
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat; 
    
    display: flex;
    justify-content: center;
}


#aanbiedingen-holder{
    background-image:url('/img/aanbiedingen.jpg');
}

#nieuwBinnen-holder{
    background-image:url('/img/nieuwBinnen.jpg');
}
#gebruikteMeubels-holder{
    background-image:url('/img/gebruikte-meubels.jpg');
}
#nieuweMeubels-holder{
    background-image:url('/img/nieuwe-meubels.jpg');
}

.web-Section-button-top {
    margin-top: 20px;
    height:55px;
}
.web-Section-button-bottom {
   
    margin-top:220px; 
    height:55px;
}

i{
    color: #EE5959;
    font-size: 25px;
    padding-right: 10px;
}

.img-holder a {
    font-weight: 580; 
    font-size: 35px;
    color: #030146;
    font-family: 'Open Sans', sans-serif!important;
   
}

button{
    background: white; 
    border:none; 
    -webkit-box-shadow: 0px 3px 4px 3px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 4px 3px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 4px 3px rgba(0,0,0,0.16);
}
.row{
    margin-bottom:30px; 
}


.hovereffect {
    width:100%;
    height:170px;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 4px 3px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 4px 3px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 4px 3px rgba(0,0,0,0.16);
    }
    
    .hovereffect .image-overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
    }
    
    .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    height: 100%;

    }
    .hovereffect button {
        background: #EE5959; 
        margin-top: 10px;
        height: 40px
    }
    .hovereffect i {
        color: white; 
        font-size: 15px;
    }
    .hovereffect a {
        color: white; 
        font-size: 23px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    .hovereffect a:hover {
        text-decoration: none;
    }


    
    .hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:25px;
    font-weight: 500;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
    margin-top: 50px;
    }
    
    .hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
    }
    
    .hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
    }
    
    .hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    }
    
    .hovereffect:hover .image-overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }
    
    .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }
    
    .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    }



    .post-cards-container{
        margin-bottom: 200px;
    }
 
    .jumbotron{
        text-align: center;
        background: url("/img/inruilen.jpg");
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }
    
    .jumbo-overlay{
        position: relative; /* Sit on top of the page content */
      
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }

    .jumbo-btn{
        background: #EE5959;
        width: 500px;
        padding: 10px 0px 10px 0px;
        margin-top: 40px;
    }
    .jumbotron a{
        color: white; 
        font-size: 50px;
    }
    .jumbotron h1{
        color: white; 
        font-size: 80px;
    }

    .map{
        padding: 0 0 0 0;
    }

    .over-ons{
        text-align: center;
    }

    h1{
        color: #030146;
        font-weight: 600;
    }