body{font-family: 'Open Sans', sans-serif;}

.crumbPath{
  color: #EE5959;
  font-weight: 500; 
  margin-top: 7px;
}

.show-Url{
  color: #030146; 
  font-weight: 800;
}

.card{
  margin-bottom:30px; 
}


.product-container{
  margin-bottom: 250px;
}

h6{
    font-size: 25px;
    font-weight:normal; 
    color: #030146 
}

#Company-name h3{
  margin-top: 0px!important;
  color: #EE5959;
  font-size: 30px;
}

#Company-name h1{
  margin-bottom: 0px!important;
  color: #030146;
  font-weight: bolder;
  font-size: 50px;
}

#italic-subtitle{
  font-style: italic;
}

textarea { 
  /* will prevent resizing horizontally */
  resize:vertical;
}