body{font-family: 'Open Sans', sans-serif;}

@media (min-width: 1200px){
.container {
    width: 950px!important;
}
}


h6{
    font-size: 25px;
    font-weight:normal; 
    color: #030146 
}

#Company-name h3{
  margin-top: 0px!important;
  color: #EE5959
}

#Company-name h1{
  margin-bottom: 0px!important;
  color: #030146;
  font-weight: bolder

}
#italic-subtitle{
  font-style: italic;
}

textarea { 
  /* will prevent resizing horizontally */
  resize:vertical;
}