body{font-family: 'Open Sans', sans-serif;}




h6{
    font-size: 25px;
    font-weight:normal; 
    color: #030146 
}

#Company-name h3{
  margin-top: 0px!important;
  color: #EE5959;
  font-size: 30px;
}

#Company-name h1{
  margin-bottom: 0px!important;
  color: #030146;
  font-weight: bolder;
  font-size: 50px;
}

#italic-subtitle{
  font-style: italic;
}

textarea { 
  /* will prevent resizing horizontally */
  resize:vertical;
}